.pnrsearch{
    color: var(--primaryBlue);
    display: flex;
    flex-direction: column;
    padding: 35px 100px 70px 100px;
}

.pnr-for-flex{
    padding-top: 40px;
    display: flex;
    gap: 30px;
}

.pnr-for-flex-child-1{
    flex: 1;
    margin: auto;
}

.pnr-for-flex-child-3{
    flex: 3;
    margin: auto;
}