.add-train{
    margin: 60px 100px 80px 100px; 
    color: var(--primaryBlue);
}

.train-details{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.train-details-child{
    flex: 1;
}

.route-detials{
    margin-top: 30px;
    margin-bottom: 50px;
}

.route-form-repeat{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 30px;
}


.route-form-repeat-child{
    flex: 1;
    margin: auto;
}
